/* CSS RESET */
:root {
  --clr-main-dark: #232023;
  --clr-full-dark: #110f11;
  --clr-main-light: #f3e9f3;
  --clr-secondary-dark: #ca9115;
  --clr-green: #15ca88;
  --clr-red: #ca152d;
  --clr-white: #ffffff;
  --clr-transparent-full: #00000036;
  --clr-transparent-light: #00000090;
  --clr-transparent-white: #ffffff70;
  --clr-font: var(--clr-main-light);
  font-family: sans-serif;
  font-size: 10px;
}
a {
  text-decoration: none;
  font-size: 1.8rem;
}
ul {
  list-style: none;
}
input,
select,
textarea,
.form-control {
  border: 1px #cfceca solid;
  outline: none;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  color: var(--clr-font);
  font-size: 1.8rem;
}
#root {
  position: relative;
  margin: 0 auto;
}
span {
  display: inline-block;
  position: relative;
}
h1,
h2,
h3 {
  line-height: 1.5;
  white-space: nowrap;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  text-overflow: ellipsis;
}
/* h1 {
  font-size: 4.5em;
}
h2 {
  font-size: 3.2em;
}
h3 {
  font-size: 2.6em;
} */
img {
  height: 100%;
  width: 100%;
  display: block;
}
/* TEXT */
.text {
  text-decoration: none;
}
.text--green {
  color: var(--clr-green);
}
.text--red {
  color: var(--clr-red);
}
.text--bold {
  font-weight: bold;
}
.text--large {
  font-size: 2.4rem;
}
.text--medium {
  font-size: 1.6rem;
}
.text--small {
  font-size: 1rem;
}
.text--white {
  color: var(--clr-main-light);
}
/* BTN */
.btn {
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  outline: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--logout {
  background-color: var(--clr-red);
  color: var(--clr-white);
}
.btn--show-blem {
  background-color: var(--clr-green);
  color: var(--clr-white);
}
/* LOGO */
.logo {
  & {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: var(--clr-transparent-full);
    padding: 1rem;
    border-radius: 0.6rem;
    transition-duration: 0.25s;
  }
  &:hover {
    background-color: var(--clr-transparent-white);
  }
}
/* card */
.card {
  & {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px var(--clr-transparent-light);
    border-radius: 0.6rem;
    transition-duration: 0.3s;
  }
  &:active {
    transform: scale(0.98);
  }
}
.card--blem {
  & {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    flex-direction: column;
    background-color: var(--clr-main-light);
    width: 100%;
    color: var(--clr-full-dark);
    /* max-height: 300px; */
    /* max-width: 300px; */
    /* overflow: hidden; */
  }
  .card__header {
    & {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      /* height: 100%; */
      /* background-color: rgb(12, 11, 11); */
      /* height: 150px; */
      /* width: 50%; */
    }
    img {
      object-fit: cover;
    }
  }
  .card__content {
    & {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      position: relative;
      height: 100%;
    }
    .blem_infos {
      display: flex;
      justify-content: space-between;
    }
    .object {
      box-orient: horizontal;
      -webkit-box-orient: horizontal;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 13ch;
    }
  }
}
/* CONTAINER */
.container {
  margin: auto auto;
  position: relative;
  max-width: 95rem;
}
.container--cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, calc(100% / 2 - 1rem)));
}
/* container greet */
.container--tp-greet {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  h1 {
    animation: wooh 2s ease-in-out infinite;
    transition: 0.25s;
  }
}
/* container home */
.container--home {
  & {
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: var(--clr-main-dark);
    color: var(--clr-main-light);
  }
}
/* container blem */
.container--blem {
  & {
    /* background-color: #f3e9f3; */
    /* color: #110f11; */
    padding: 0 2rem;
  }
  .blem__header {
    & {
      padding: 1rem 0;
    }
  }
}
/* LAYOUT */
#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-main-dark);
  color: var(--clr-main-light);
}
/* HEADER */
#Header {
  & {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: var(--clr-transparent-full);
    padding: 0.5rem 2rem;
    border-radius: 0.6rem;
    /* background-color: rgb(47, 54, 59); */
  }
  .btn--logout {
    display: none;
    width: 100%;
  }
}
/* LINKS */
.link {
  & {
    color: var(--clr-main-light);
  }
}
/* NAV */
.nav {
  & {
    display: flex;
    gap: 1rem;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
  }
  .link {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    gap: 0.4rem;
  }
  .link:hover {
    color: var(--clr-green);
  }
}
/* MAIN */
#Main {
  & {
    display: flex;
    flex-direction: column;
    grid-row: 2/-1;
    grid-column: 1/-1;
    background-color: var(--clr-full-dark);
  }
}
/* MAIN CONTENT */
#Content {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}
/* MAIN BOTTOM */
#Bottom {
  border-top: var(--clr-transparent-white) 1px solid;
  display: flex;
  padding: 1rem;
  text-align: center;
  /* background-color: var(--clr-transparent-light); */
  font-size: 1.8rem;
  grid-column: 1/-1;
}
/* PLUGIN */
.plugin {
  & {
    display: flex;
    position: relative;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    box-shadow: 0 0 15px var(--clr-transparent-light);
    border-radius: 0.8rem;
    width: fit-content;
    height: fit-content;
    margin: 1rem;
    cursor: pointer;
    transition-duration: 0.27s;
  }
  &:active {
    transform: scale(0.95);
  }
  .header__plugin {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .content__plugin {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
}
.plugin--blem-counter {
  & {
    background-color: var(--clr-white);
    color: var(--clr-main-dark);
  }
}
/* VIEW PORTS */
@media (min-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }
  #root {
    & {
      grid-template-columns: repeat(12, 1fr);
    }
  }
  .container--cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(100px, calc(100% / 3 - 1rem))
    );
  }
  #Header {
    & {
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 2rem;
      grid-row: 1/-1;
      grid-column: 1/2;
      padding: 2rem 1rem;
    }
    .logo {
      padding: 1rem 1rem 1rem 0.2rem;
      font-size: 2.8rem;
      white-space: nowrap;
      width: 100%;
    }
    .nav--main {
      flex-direction: column;
      justify-content: start;
      flex-grow: 1;
    }
    .btn--logout {
      display: flex;
    }
  }
  #Main {
    & {
      grid-row: 1/-1;
      grid-column: 2/-1;
    }
  }
  #Content {
    flex-grow: 1;
  }
  #Bottom {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    grid-column: 1/-1;
  }
}
/* ANNIMATIONS */
@keyframes wooh {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
