<div class="container container--blem">
  <div class="blem__header">
    <h1>Blems</h1>
  </div>
  <div class="blem__content">
    <div class="container container--cards">
      <div class="card card--blem">
        <div class="card__header">
          <img src="./assets/user.svg" alt="" />
        </div>
        <div class="card__content">
          <div class="blem_infos">
            <span class="department">departement</span>
            <span class="created_date">03-03-25</span>
          </div>
          <h3 class="object">Lorem ipsum dolor sit amet.</h3>
          <div class="blem_author">@user_name</div>
        </div>
        <button class="btn btn--show-blem">show blem</button>
      </div>
      <div class="card card--blem">
        <div class="card__header">
          <img src="./assets/user.svg" alt="" />
        </div>
        <div class="card__content">
          <div class="blem_infos">
            <span class="department">departement</span>
            <span class="created_date">03-03-25</span>
          </div>
          <h3 class="object">Lorem ipsum dolor sit amet.</h3>
          <div class="blem_author">@user_name</div>
        </div>
        <button class="btn btn--show-blem">show blem</button>
      </div>
      <div class="card card--blem">
        <div class="card__header">
          <img src="./assets/user.svg" alt="" />
        </div>
        <div class="card__content">
          <div class="blem_infos">
            <span class="department">departement</span>
            <span class="created_date">03-03-25</span>
          </div>
          <h3 class="object">Lorem ipsum dolor sit amet.</h3>
          <div class="blem_author">@user_name</div>
        </div>
        <button class="btn btn--show-blem">show blem</button>
      </div>
      <div class="card card--blem">
        <div class="card__header">
          <img src="./assets/user.svg" alt="" />
        </div>
        <div class="card__content">
          <div class="blem_infos">
            <span class="department">departement</span>
            <span class="created_date">03-03-25</span>
          </div>
          <h3 class="object">Lorem ipsum dolor sit amet.</h3>
          <div class="blem_author">@user_name</div>
        </div>
        <button class="btn btn--show-blem">show blem</button>
      </div>
      <div class="card card--blem">
        <div class="card__header">
          <img src="./assets/user.svg" alt="" />
        </div>
        <div class="card__content">
          <div class="blem_infos">
            <span class="department">departement</span>
            <span class="created_date">03-03-25</span>
          </div>
          <h3 class="object">Lorem ipsum dolor sit amet.</h3>
          <div class="blem_author">@user_name</div>
        </div>
        <button class="btn btn--show-blem">show blem</button>
      </div>
      <div class="card card--blem">
        <div class="card__header">
          <img src="./assets/user.svg" alt="" />
        </div>
        <div class="card__content">
          <div class="blem_infos">
            <span class="department">departement</span>
            <span class="created_date">03-03-25</span>
          </div>
          <h3 class="object">Lorem ipsum dolor sit amet.</h3>
          <div class="blem_author">@user_name</div>
        </div>
        <button class="btn btn--show-blem">show blem</button>
      </div>
    </div>
  </div>
</div>
